In [13]:
import pandas as pd
df = pd.read_csv("data/active_travel/2015 Q2 spring (Apr-Jun)-Inner.csv")

In [14]:
df.head()

,Wave,SiteID,Date,Weather,Time,Day,Round,Direction,Path,Mode,Count
0,2015 Q2 spring (Apr-Jun),ML0210,20/05/2015,Dry,06:00:00,Weekday,A,Northbound,NaN,Cycle hire bikes,0
1,2015 Q2 spring (Apr-Jun),ML0210,20/05/2015,Dry,06:15:00,Weekday,A,Northbound,NaN,Cycle hire bikes,0
2,2015 Q2 spring (Apr-Jun),ML0210,20/05/2015,Dry,06:30:00,Weekday,A,Northbound,NaN,Cycle hire bikes,0
3,2015 Q2 spring (Apr-Jun),ML0210,20/05/2015,Dry,06:45:00,Weekday,A,Northbound,NaN,Cycle hire bikes,0
4,2015 Q2 spring (Apr-Jun),ML0210,20/05/2015,Dry,07:00:00,Weekday,A,Northbound,NaN,Cycle hire bikes,0

In [3]:
df.columns

Index(['Wave', 'SiteID', 'Date', 'Weather', 'Time', 'Day', 'Round',
       'Direction', 'Path', 'Mode', 'Count'],
      dtype='object')

In [15]:
df.dtypes

Wave          object
SiteID        object
Date          object
Weather       object
Time          object
Day           object
Round         object
Direction     object
Path         float64
Mode          object
Count          int64
dtype: object

In [5]:
nan_path_rows = df[df['Path'].isnull()]
nan_path_rows

,Wave,SiteID,Date,Weather,Time,Day,Round,Direction,Path,Mode,Count
0,2015 Q2 spring (Apr-Jun),ML0210,20/05/2015,Dry,06:00:00,Weekday,A,Northbound,NaN,Cycle hire bikes,0
1,2015 Q2 spring (Apr-Jun),ML0210,20/05/2015,Dry,06:15:00,Weekday,A,Northbound,NaN,Cycle hire bikes,0
2,2015 Q2 spring (Apr-Jun),ML0210,20/05/2015,Dry,06:30:00,Weekday,A,Northbound,NaN,Cycle hire bikes,0
3,2015 Q2 spring (Apr-Jun),ML0210,20/05/2015,Dry,06:45:00,Weekday,A,Northbound,NaN,Cycle hire bikes,0
4,2015 Q2 spring (Apr-Jun),ML0210,20/05/2015,Dry,07:00:00,Weekday,A,Northbound,NaN,Cycle hire bikes,0
...,...,...,...,...,...,...,...,...,...,...,...
186579,2015 Q2 spring (Apr-Jun),ML0952,17/10/2014,Dry,20:45:00,Weekday,A,Southbound,NaN,Private cycles,0
186580,2015 Q2 spring (Apr-Jun),ML0952,17/10/2014,Dry,21:00:00,Weekday,A,Southbound,NaN,Private cycles,0
186581,2015 Q2 spring (Apr-Jun),ML0952,17/10/2014,Dry,21:15:00,Weekday,A,Southbound,NaN,Private cycles,0
186582,2015 Q2 spring (Apr-Jun),ML0952,17/10/2014,Dry,21:30:00,Weekday,A,Southbound,NaN,Private cycles,0
186583,2015 Q2 spring (Apr-Jun),ML0952,17/10/2014,Dry,21:45:00,Weekday,A,Southbound,NaN,Private cycles,0

In [6]:
df['Path'] = df['Path'].fillna('').astype(str)

In [7]:
df.dtypes

Wave         object
SiteID       object
Date         object
Weather      object
Time         object
Day          object
Round        object
Direction    object
Path         object
Mode         object
Count         int64
dtype: object

In [12]:
df.head()

,Wave,SiteID,Date,Weather,Time,Day,Round,Direction,Path,Mode,Count
0,2015 Q2 spring (Apr-Jun),ML1452,08/06/2015,Dry,06:00:00,Weekday,A,Northbound,No Path,Female cyclists,0
1,2015 Q2 spring (Apr-Jun),ML1452,08/06/2015,Dry,06:15:00,Weekday,A,Northbound,No Path,Female cyclists,0
2,2015 Q2 spring (Apr-Jun),ML1452,08/06/2015,Dry,06:30:00,Weekday,A,Northbound,No Path,Female cyclists,0
3,2015 Q2 spring (Apr-Jun),ML1452,08/06/2015,Dry,06:45:00,Weekday,A,Northbound,No Path,Female cyclists,0
4,2015 Q2 spring (Apr-Jun),ML1452,08/06/2015,Dry,07:00:00,Weekday,A,Northbound,No Path,Female cyclists,0

In [16]:
df.to_csv('data/active_travel/2015 Q2 spring (Apr-Jun)-Inner.csv', index=False)

In [17]:
df.isnull().sum()

Wave              0
SiteID            0
Date              0
Weather        5614
Time              0
Day               0
Round             0
Direction         0
Path         186584
Mode              0
Count             0
dtype: int64