In [2]:
import pandas as pd
df = pd.read_csv("data/active_travel/2014 Q1 (Jan-Mar)-Central.csv")

In [4]:
df.head()

,Wave,SiteID,Date,Weather,Time,Day,Round,Direction,Path,Mode,Count
0,2014 Q1 (Jan-Mar),ML0001,24/01/2014,Dry,06:00:00,Weekday,A,Northbound,NaN,Private cycles,0
1,2014 Q1 (Jan-Mar),ML0001,24/01/2014,Dry,06:15:00,Weekday,A,Northbound,NaN,Private cycles,15
2,2014 Q1 (Jan-Mar),ML0001,24/01/2014,Dry,06:30:00,Weekday,A,Northbound,NaN,Private cycles,35
3,2014 Q1 (Jan-Mar),ML0001,24/01/2014,Dry,06:45:00,Weekday,A,Northbound,NaN,Private cycles,59
4,2014 Q1 (Jan-Mar),ML0001,24/01/2014,Dry,07:00:00,Weekday,A,Northbound,NaN,Private cycles,73

In [11]:
df.columns

Index(['Wave', 'SiteID', 'Date', 'Weather', 'Time', 'Day', 'Round',
       'Direction', 'Path', 'Mode', 'Count'],
      dtype='object')

In [7]:
df.dtypes

Wave         object
SiteID       object
Date         object
Weather      object
Time         object
Day          object
Round        object
Direction    object
Path         object
Mode         object
Count         int64
dtype: object

In [12]:
df.isnull().sum()

Wave             0
SiteID           0
Date             0
Weather          0
Time             0
Day              0
Round            0
Direction        0
Path         50048
Mode             0
Count            0
dtype: int64