In [1]:
import pandas as pd
df = pd.read_csv("data/monitoring_location/1 Monitoring locations.csv")

In [2]:
df.head()

,Site ID,Location description,Borough,Functional area for monitoring,Road type,Is it on the strategic CIO panel?,Old site ID (legacy),Easting (UK Grid),Northing (UK Grid),Latitude,Longitude
0,ML0001,Millbank (south of Thorney Street),Westminster,01 Central,01 A Road,1,CENCY001,530251.49,178742.45,51.492628,-0.125204
1,ML0002,Bishopsgate,City of London,01 Central,01 A Road,2,CENCY002,533362.68,181824.45,51.519599,-0.079254
2,ML0003,Southwark Bridge,Southwark,01 Central,01 A Road,3,CENCY003,532334.06,180520.37,51.508123,-0.094551
3,ML0004,Southwark Bridge Road,Southwark,01 Central,01 A Road,4,CENCY004,532052.50,179677.64,51.500613,-0.098927
4,ML0005,Tooley Street,Southwark,01 Central,01 A Road,5,CENCY005,533031.59,180213.46,51.505200,-0.084629

In [3]:
df.columns

Index(['Site ID', 'Location description', 'Borough',
       'Functional area for monitoring', 'Road type',
       'Is it on the strategic CIO panel?', 'Old site ID (legacy)',
       'Easting (UK Grid)', 'Northing (UK Grid)', 'Latitude', 'Longitude'],
      dtype='object')

In [4]:
df.dtypes

Site ID                               object
Location description                  object
Borough                               object
Functional area for monitoring        object
Road type                             object
Is it on the strategic CIO panel?      int64
Old site ID (legacy)                  object
Easting (UK Grid)                    float64
Northing (UK Grid)                   float64
Latitude                             float64
Longitude                            float64
dtype: object

In [5]:
null_values = df.isnull().sum()
print(null_values)

Site ID                              0
Location description                 0
Borough                              0
Functional area for monitoring       0
Road type                            0
Is it on the strategic CIO panel?    0
Old site ID (legacy)                 0
Easting (UK Grid)                    0
Northing (UK Grid)                   0
Latitude                             0
Longitude                            0
dtype: int64

In [5]:
nan_path_rows = df[df['Path'].isnull()]
nan_path_rows

,Wave,SiteID,Date,Weather,Time,Day,Round,Direction,Path,Mode,Count
0,2015 Q2 spring (Apr-Jun),ML0210,20/05/2015,Dry,06:00:00,Weekday,A,Northbound,NaN,Cycle hire bikes,0
1,2015 Q2 spring (Apr-Jun),ML0210,20/05/2015,Dry,06:15:00,Weekday,A,Northbound,NaN,Cycle hire bikes,0
2,2015 Q2 spring (Apr-Jun),ML0210,20/05/2015,Dry,06:30:00,Weekday,A,Northbound,NaN,Cycle hire bikes,0
3,2015 Q2 spring (Apr-Jun),ML0210,20/05/2015,Dry,06:45:00,Weekday,A,Northbound,NaN,Cycle hire bikes,0
4,2015 Q2 spring (Apr-Jun),ML0210,20/05/2015,Dry,07:00:00,Weekday,A,Northbound,NaN,Cycle hire bikes,0
...,...,...,...,...,...,...,...,...,...,...,...
186579,2015 Q2 spring (Apr-Jun),ML0952,17/10/2014,Dry,20:45:00,Weekday,A,Southbound,NaN,Private cycles,0
186580,2015 Q2 spring (Apr-Jun),ML0952,17/10/2014,Dry,21:00:00,Weekday,A,Southbound,NaN,Private cycles,0
186581,2015 Q2 spring (Apr-Jun),ML0952,17/10/2014,Dry,21:15:00,Weekday,A,Southbound,NaN,Private cycles,0
186582,2015 Q2 spring (Apr-Jun),ML0952,17/10/2014,Dry,21:30:00,Weekday,A,Southbound,NaN,Private cycles,0
186583,2015 Q2 spring (Apr-Jun),ML0952,17/10/2014,Dry,21:45:00,Weekday,A,Southbound,NaN,Private cycles,0

In [6]:
df['Path'] = df['Path'].fillna('').astype(str)

In [7]:
df.dtypes

Wave         object
SiteID       object
Date         object
Weather      object
Time         object
Day          object
Round        object
Direction    object
Path         object
Mode         object
Count         int64
dtype: object

In [12]:
df.head()

,Wave,SiteID,Date,Weather,Time,Day,Round,Direction,Path,Mode,Count
0,2015 Q2 spring (Apr-Jun),ML1452,08/06/2015,Dry,06:00:00,Weekday,A,Northbound,No Path,Female cyclists,0
1,2015 Q2 spring (Apr-Jun),ML1452,08/06/2015,Dry,06:15:00,Weekday,A,Northbound,No Path,Female cyclists,0
2,2015 Q2 spring (Apr-Jun),ML1452,08/06/2015,Dry,06:30:00,Weekday,A,Northbound,No Path,Female cyclists,0
3,2015 Q2 spring (Apr-Jun),ML1452,08/06/2015,Dry,06:45:00,Weekday,A,Northbound,No Path,Female cyclists,0
4,2015 Q2 spring (Apr-Jun),ML1452,08/06/2015,Dry,07:00:00,Weekday,A,Northbound,No Path,Female cyclists,0

In [16]:
df.to_csv('data/active_travel/2015 Q2 spring (Apr-Jun)-Inner.csv', index=False)

In [17]:
df.isnull().sum()

Wave              0
SiteID            0
Date              0
Weather        5614
Time              0
Day               0
Round             0
Direction         0
Path         186584
Mode              0
Count             0
dtype: int64